{% extends 'base.html'%}
{% block title%}Meetings{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="h1 text-center">Hi {{ user.get_username }}, these are your meetings</h1>
    {{total}}
    <div class="row justify-content-start m-1">
        {%for item in data %}
        <div class="col-sm-12 col-lg-3 card card-default" style="border: 2px solid gainsboro;">
            <div class="card-title">
                <label class="text-center" for=""><strong>Description</strong></label>
                <p>
                    {{item.title}}
                </p>
            </div>
            <hr>    
            <div class="card-body">
                <p class="card-text">{{item.room}}</p>
                <label><strong>Date</strong></label>
                <p class="card-text">{{item.date}}</p>
                <div class="form-inline">
<<<<<<< HEAD
                    <form action="{% url 'website:edit_view' action='delete' id=item.id %}" method="POST">
=======
                    <form action="{% url 'website:delete_view' action='delete' id=item.id %}" method="POST">
>>>>>>> 1656026343d2bdeaf4bb6a3d86c32cb9a9a01c98
                        {%csrf_token%}
                        <button type="submit" class="btn btn-danger">Delete</a>
                    </form>
                    <button type="button" class="btn btn-primary" data-target="#editMeeting"
                        data-toggle="modal">Edit</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editMeeting" tabindex="-1" role="dialog" aria-labelledby="editMeetingLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="display: table-row;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMeetingLabel">Edit Meeting {{item.id}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
<<<<<<< HEAD
                        <form method="POST" action="{% url 'website:edit_view' action='save' id=item.id %}">
=======
                        <form method="POST" action="{% url 'website:delete_view' action='save' id=item.id %}">
>>>>>>> 1656026343d2bdeaf4bb6a3d86c32cb9a9a01c98
                            {%csrf_token%}
                            <table>
                                {{form}}
                                {{form.errors}}
                            </table>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center m-5">
        <button type="button" class="btn btn-outline-success" data-target="#addMeeting" data-toggle="modal">Add new
            meeting</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addMeeting" tabindex="-1" role="dialog" aria-labelledby="addMeetingLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="display: table-row;">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMeetingLabel">Add Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {%csrf_token%}
                        <table>
                            {{form}}
                        </table>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}