{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'website/style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock %} | Mi web personal</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top p-3">
      <a class="navbar-brand" href="{% url 'website:welcome_view' %} ">Personal webpage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'website:welcome_view' %} ">Welcome <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'website:meeting_view' %} ">Meetings</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropleft">
            <a href="" class="nav-link" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-user-circle"></i> {{user.get_username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'account:account_view' %}"><i class="fas fa-user-alt"></i> Account</a>
              <a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Notifications</a>
<<<<<<< HEAD
              <a class="dropdown-item" href="{% url 'website:get_token' %}"><i class="fas fa-lock"></i> Get token </a>
=======
              <a class="dropdown-item" href="#"><i class="fas fa-envelope"></i> Messages</a>
>>>>>>> 1656026343d2bdeaf4bb6a3d86c32cb9a9a01c98
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'website:user_logout' %} "><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'website:user_login' %} "><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'website:user_signup' %} "><i class="fas fa-user-alt"></i> Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <br>
    {% block content %}{% endblock %}
  </main>
</body>
</html>